@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Fascinate&family=Italiana&family=Shippori+Antique&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #d0c9bd;
}

.navbar {
    display:flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid #000000;
}

#cvprimary{
    width: 500px;
    height: auto;
}

button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border: 0px;
    background-color: #d0c9bd;
    padding-left: 50px;
    padding-right: 50px;
}

main{
    display: flex; 
    justify-content: space-between; 
    flex-direction: row-reverse;
    align-items: center; 
    padding: 20px;
    gap: 20px; 
}

h1 {
    font-family: "Cinzel";
    font-weight: 400;
    font-size: 90px;
    padding-right: 30px;
    padding-left: 10%;
    margin-bottom: 0;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-right: 80px;
    padding-left: 80px;
    margin-top: 1px;
}

.image-container {
    width: 600px; 
    height: 1000px;
    overflow: hidden; 
    position: relative;
    min-width: 55%;
}

