@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Fascinate&family=Italiana&family=Shippori+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Fascinate&family=Italiana&family=Shippori+Antique&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #d0c9bd;
}

.navbar {
    display:flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid #000000;
}

#cvprimary{
    width: 500px;
    height: auto;
}

button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border: 0px;
    background-color: #d0c9bd;
    padding-left: 50px;
    padding-right: 50px;
}

main{
    display: flex; 
    justify-content: space-between; 
    flex-direction: row-reverse;
    align-items: center; 
    padding: 20px;
    gap: 20px; 
}

h1 {
    font-family: "Cinzel";
    font-weight: 400;
    font-size: 90px;
    padding-right: 30px;
    padding-left: 70px;
    margin-bottom: 0;
}

h2 {
    font-family: "Bebas Neue";
    font-size: 52px;
    padding-right: 30px;
    padding-left: 70px;
    margin-top: 0;
    margin-bottom: 0;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-right: 80px;
    padding-left: 80px;
    margin-top: 1px;
}

.image-container {
    width: 600px; 
    height: 1000px;
    overflow: hidden; 
    position: relative;
    min-width: 55%;
}

.main-value-container {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    margin-left: 0;
}

.mindful-value{
    display: flex;
    flex-direction: row;
}

.wellness-value{
    display: flex;
    flex-direction: row;
}

#mindful-pic {
    width: 800px; 
    height: 800px;
    object-fit: cover; 
    object-position: center;
    min-width: 50%;
    order: 1;
}

#mindful-text {
    order: 2;
    padding-right: 300px;
    padding-top: 200px;

    p{
        padding-left: 70px;
    }
}

#wellness-pic {
    width: 800px; 
    height: 800px;
    object-fit: cover; 
    object-position: center;
    min-width: 50%;
}

#wellness-text {
    padding-right: 300px;
    padding-top: 200px;
    p{
        padding-left:70px;
    }
}

#our-drinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.drink-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    
    button{
        background-color: #000000;
        color: #d0c9bd;
        margin: 10px;
        border-radius: 15px 15px 15px 15px;
    }
}


.cloud-vine-drinks {
    display: flex;
    flex-direction: row;

    #drink-image {
        width: 900px; 
        height: 900px;
        object-fit:contain; 
        object-position: center;
        min-width: 50%;
        padding-right: 0px;
    }
    
    .drink-text {
        display: flex;
        flex-direction: column;
        padding-right: 500px;
        padding-left: 0px;
    }
}











@media screen and (max-width: 1600px){
    h1{
        font-size: 60px;
    }

    #mindful-text{
        padding-right:30px;
        padding-top:50px;
    }

    #mindful-pic {
        width: 500px; 
        height: 500px;
    }

    #wellness-text{
        padding-right:30px;
        padding-top:50px;
    }

    #wellness-pic {
        width: 500px; 
        height: 500px;
    }
}

@media screen and (max-width: 1200px){
    #mindful-text{
        padding-right:30px;
        padding-top:20px;
    }
}

@media screen and (max-width: 900px){
    .main-value-container{
        display:flex;
        flex-direction: column;
    }

    h1{ 
        text-align: center;
    }

    h2{
        text-align:center;
    }

    p{
        text-align: center;
    }

    .mindful-value{
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    
    #mindful-pic {
        order: 1;
    }

    #mindful-text {
        order: 2;
    }


    .wellness-value{
        display:flex;
        flex-direction:column;
        align-items: center;
    }
}

@media screen and (max-width: 800px){
    .navbar{
        display:flex;
        flex-direction:column;
        padding-bottom: 0;
        align-items: center;
    }

    #cvprimary{
        width: 500px;
        height: auto;
    }

    #value-button{
        order: 2;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 25px;
    }

    #drinks-button{
        order: 3;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 25px;
    }

    main{
        display:flex;
        flex-direction:column;
        align-content: center;
    }

    .homepage-text{
        order: 2;
    }

    .image-container {
        width: 600px; 
        height: 800px;
        overflow: hidden; 
        position: relative;
        min-width: 55%;
    }

    h1{
        font-size: 60px;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    p{
        padding-right: 30px;
        padding-left: 30px;
    }

    #mindful-pic {
        width: 600px; 
        height: 600px;
    }

    #wellness-pic {
        width: 600px; 
        height: 600px;
    }
}

@media screen and (max-width: 400px){
    .navbar{
        display:flex;
        flex-direction:column;
        padding-bottom: 0;
        align-items: center;
    }

    #cvprimary{
        width: 200px;
        height: auto;
    }

    #value-button{
        order: 2;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 20px;
        /*border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
        margin: 0px; */
    }

    #drinks-button{
        order: 3;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 20px;
    }

    main{
        display:flex;
        flex-direction:column;
        align-content: center;
    }

    .homepage-text{
        order: 2;
    }

    .image-container {
        width: 200px; 
        height: 400px;
        overflow: hidden; 
        position: relative;
        min-width: 30%;
    }

    h1{
        font-size: 25px;
        text-align: center;
        padding-left: 55px;
        padding-right: 35px;
    }

    h2{
        font-size: 20px;
    }

    p{
        padding-right: 10px;
        padding-left: 10px;
        font-size: 15px;
    }

    #mindful-pic {
        width: 200px; 
        height: 200px;
    }

    #wellness-text {
        margin-left: 0;
        padding-left: 0px;
        padding-right: 30px;
    }

    #wellness-pic {
        width: 200px; 
        height: 200px;
    }
}

